<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (groupe(); as groupeRef) {
      <div>
        <h2 data-cy="groupeDetailsHeading"><span>Groupe</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ groupeRef.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ groupeRef.nom }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/groupe', groupeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
