name: CI/CD Pipeline - Contacts App

on:
  push:
    branches:
      - main
      - master

env:
  IMAGE_NAME: belcodiallo/contacts-app
  K8S_NAMESPACE: default
  DEPLOYMENT_NAME: contacts-app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 — Cloner le code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Étape 2 — Connexion à Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Étape 3 — Construire l’image Docker
      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:${{ github.run_number }} .

      # Étape 4 — Pousser sur Docker Hub
      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:${{ github.run_number }}

      # Étape 5 — Configurer kubectl avec kubeconfig
      - name: Set up Kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config

      # Étape 6 — Déployer sur Kubernetes
      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/$DEPLOYMENT_NAME $DEPLOYMENT_NAME=$IMAGE_NAME:${{ github.run_number }} -n $K8S_NAMESPACE
          kubectl rollout status deployment/$DEPLOYMENT_NAME -n $K8S_NAMESPACE
